.base p {
  font-family: "Rubik", sans-serif;
  padding: 20px;
}

.base a {
  color: var(--darkergreen);
}

@media (max-width: 600px) {
  .base p {
    font-family: "Rubik", sans-serif;
    padding: 5px;
  }
}
