.base {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--almostwhite);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 500px;
    font-family: "Rubik", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form input {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    border: solid 1px var(--blackgreen);
}

.form input:hover {
    background-color: var(--smoky);
}

.form input:focus {
    outline: solid 2px var(--green);
    background-color: white;
}

.buttonDiv {
    margin-bottom: 10px;
    position: relative;
}

.loginBtn {
    font-family: "Staatliches", sans-serif;
    font-size: 22px;
    padding: 4px 8px;
    border: none;
    background-color: var(--green);
    color: var(--almostwhite);
    width: 100%;
}

.loginBtn:hover {
    background-color: var(--darkergreen);
}

.loginBtn:disabled {
    background-color: var(--fadedgreen);
}

.logInErr {
    color: var(--blackgreen);
    position: absolute;
    font-size: 13px;
    bottom: -18px;
    text-align: center;
    width: 100%;
}

.signUpText {
    align-self: center;
}

.signUpText a {
    color: var(--darkergreen);
}

@media (max-width: 600px) {
  .form {
    width: 80%;
  }
}