.base {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--almostwhite);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 500px;
    font-family: "Rubik", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.form input {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    border: solid 1px var(--blackgreen);
}

.form input:hover {
    background-color: var(--smoky);
}

.form input:focus {
    outline: solid 2px var(--green);
    background-color: white;
}

.form > div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.form label {
    font-weight:500;
    font-size: 14px;
}

.signUpBtn {
    font-family: "Staatliches", sans-serif;
    font-size: 22px;
    padding: 4px 8px;
    border: none;
    background-color: var(--green);
    color: var(--almostwhite);
}

.signUpBtn:hover {
    background-color: var(--darkergreen);
}

.signUpBtn:disabled {
    background-color: var(--fadedgreen);
}

.errorMsg {
    color: var(--blackgreen);
    position: absolute;
    font-size: 13px;
    bottom: -18px;
    padding-left: 10px;
}

.signUpErr {
    color: var(--blackgreen);
    position: absolute;
    font-size: 13px;
    bottom: 10px;
    align-self: center;
}