.base {
    width: 20%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-right: 1px solid var(--darkersmoky);   
    background-color: var(--almostwhite);
    padding: 0px 15px;
}

.message {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: auto;
    color: var(--blackgreen);

}

.base > h2 {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--blackgreen);
    border-bottom: 1px solid var(--darkersmoky); 
    padding: 10px 0;
}
