.base {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 50px;
}

.header {
    font-family: "Staatliches", sans-serif;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.footer {
    padding: 5px;
    text-align: center;
    font-family: "Ancizar Sans", sans-serif;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}