@font-face {
    font-family: "Staatliches";
    src: url(/src/assets/fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(/src/assets/fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --color0: #f5f5f5;
  --color1: #dcdcdc;
  --color2: #c0c0c0;
  --color3: #2f4f4f;
  --color4: #228b22;
  --color5: #00b45f;
  --color6: #00904c;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color1);
}
