@font-face {
    font-family: "Staatliches";
    src: url(/src/assets/fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(/src/assets/fonts/Rubik-VariableFont_wght.ttf);
}

:root {
  --almostwhite: #f5f5f5;
  --smoky: #dcdcdc;
  --darkersmoky: #c0c0c0;
  --gray: #999999;
  --blackgreen: #2f4f4f;
  --warmgreen: #228b22;
  --green: #00b45f;
  --darkergreen: #00904c;
  --fadedgreen: rgba(0, 180, 95, 0.6);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--smoky);
}
